.mysql-data/
database/backups-local/
.mysql-local.ini
mysql.log
mysql-error.log
**/target/
**/node_modules/
**/dist/
**/coverage/
.pnpm-store/
**/.idea/
*.iml
*.log
.env
.env.*
!.env.example
api-numerario/.maven-home/
api-numerario/src/main/resources/application-local.properties
api-numerario/api.log
api-numerario/api-error.log
bff-numerario/bff.log
bff-numerario/bff-error.log
frontend-numerario/frontend.log
frontend-numerario/frontend-error.log
