<main class="form-page">

  <section class="form-card">

    <h1>Alterar Produto</h1>

    <p class="description">
      Informe o ID do produto e os novos dados que deseja alterar.
    </p>

    <form  (ngSubmit)="alterar()">

      <div class="field">
        <label for="id">ID do produto</label>
        <input id="id" type="number" name="id" placeholder="Ex: 1" [(ngModel)]="id">
      </div>

      <div class="field">
        <label for="nome">Novo nome</label>
        <input id="nome" type="text" name="nome" placeholder="Ex: Mouse gamer"[(ngModel)]="nome">
      </div>

      <div class="field">
        <label for="preco">Novo preço</label>
        <input id="preco" type="number" name="preco" placeholder="Ex: 89.90" [(ngModel)]="preco">
      </div>

        <div class="checkbox">
        <label for="ativo">Produto ativo</label>
        <input id="ativo" type="checkbox" name="ativo" [(ngModel)]="ativo">

      </div>

      
      <div class="actions">
        <a routerLink="/" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-primary">Alterar</button>
      </div>

    </form>

    <p class="message">{{ mensagem }}</p>

  </section>

</main>